# Ignore IDE files
.idea/
.code/
.vs/

# Logs
Logs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
debug/
debugPublic/
release/
releases/
x64/
x86/
arm/
arm64/
bld/
bin/
obj/
log/